.card {
  border: 1px solid #a4a4a4;
  width: 16rem;
  height: auto;
  display: flex;
  flex-direction: column;
  box-shadow: #9f9f9f 7px 7px 10px 0px; }
  .card p {
    font-size: 2rem; }
  .card button {
    width: 15%;
    align-self: flex-end;
    margin: 0.2em 0.2em 0 0; }
  .card div {
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .card div span {
      font-size: 1.5rem;
      width: 3em; }
    .card div img {
      width: fit-content;
      background-color: black;
      border-radius: 100%; }
